.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem 1rem;
}

@media (min-width: 576px) {
  .header {
    justify-content: space-between;
  }
}

.header__button {
  border: 1px solid currentColor;
  border-radius: 2rem;
  color: hsl(322, 100%, 66%);
  display: block;
  font-size: 1.125rem;
  margin-top: 1.25rem;
  padding: .3125rem 1.875rem;
  text-transform: capitalize;
}

@media (min-width: 576px) {
  .header__button {
    margin-top: 0;
  }
}